p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.notebox {
  padding: 1em;
  background: #fcf0e6;
  color: black;
  border: 2px solid orange;
  border-radius: 10px;
}

.tipbox {
  padding: 1em;
  background: #e6fce6;
  color: black;
  border: 2px solid green;
  border-radius: 10px;
}

.warnbox {
  padding: 1em;
  background: #f5bfbf;
  color: black;
  border: 2px solid red;
  border-radius: 10px;
}

.center {
  text-align: center;
}
